:root {
    --mainFontColor: magenta;
    --borderRadius: 15px;
    --backgroundColor: rgb(63, 63, 63);
    --secondFontColor: white;
    --padding: 15px;
    --radius: 10px;
}

body {
    background: var(--backgroundColor);
    font-size: 20px;
    color: var(--secondFontColor);
    line-height: 32px;
}

header {
    text-align: center;
}

h1 {
    font-size: 65px;
    line-height: 65px;
    /* display: flex;
    justify-content: center; text-align: center;*/
    color: var(--mainFontColor);
    margin: 25px 0;
}

header p {
    /* display: flex;
    justify-content: center;
    text-align: center; */
    font: 30px;
    max-width: 960px;
    margin: 0 auto 50px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    width: 100%;
}

.card-column {
    position: relative;
    display: flex;
    border: 2px dashed var(--secondFontColor);
    width: 30%;
    padding: 20px;
    margin: 15px 5px;
    transition-delay: 0.5s;
}

.card-column:hover, h2:hover {
    box-shadow: 0px 0px 10px 5px var(--mainFontColor);
}

h2 {
    font-size: 25px;
    position: absolute;
    top: -15px;
    left: 20px;
    width: 90%;
    padding: 5px;
    color: var(--mainFontColor);
    border: 2px solid var(--secondFontColor);
    background: var(--backgroundColor);
    border-radius: 10px;
    transition-delay: 0.5s;
}

.card-body p {
    margin-top: 15px;
    /* position: absolute;
    top: 40px; */
    color: var(--mainFontColor);
}

.code-block {
    /* position: absolute;
    bottom: 10px; */
    width: 100%;
    background: linear-gradient(rgb(122, 8, 122), var(--mainFontColor));
    padding: 15px;
    border-radius: var(--radius);
    white-space: pre-wrap;
    flex: 0;
}

code {
    user-select: all;
}

code::selection {
    background: aquamarine;
    color: var(--backgroundColor);
}

footer {
    color: var(--mainFontColor);
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
}
@media (max-width: 992px) {
    body {
        padding-left: var(--padding);
        padding-right: var(--padding);
    }
    .card-column {
        width: 47%;
    }
}

@media (max-width: 767px) {
    body {
        padding-left: var(--padding);
        padding-right: var(--padding);
    }
    .card-column {
        width: 97%;
    }
}